fastapi==0.110.0
uvicorn==0.27.1
pydantic==2.6.4
sqlalchemy==2.0.29
mysql-connector-python==8.1.0
python-multipart==0.0.7
opencv-python==4.9.0.80
ultralytics==8.2.15
Pillow==10.2.0
python-dotenv==1.0.1
fastapi-pagination==0.12.12
